# Create a LangChain NL2SQL Agent using Azure OpenAI and Azure SQL Database
This notebook goes through the process of creating a LangChain SQL Agent using Azure OpenAI as the LLM against an Azure SQL Database.

## Install the required python libraries
Start by installing the required libraries. Run the following at the terminal in the project folder so it references the project's requirements.txt:

```bash
pip install -r requirements.txt
```

## ODBC Driver for MS SQL Install

Use the **odbcDriverInstallUbuntu.txt** script to install the Microsoft ODBC Driver for MS SQL (version 18).

If you are not using codespace or Ubuntu, you can find the correct script to install the driver for linux [here](https://learn.microsoft.com/en-us/sql/connect/odbc/linux-mac/installing-the-microsoft-odbc-driver-for-sql-server), for windows [here](https://learn.microsoft.com/en-us/sql/connect/odbc/download-odbc-driver-for-sql-server), and for MacOS [here](https://learn.microsoft.com/en-us/sql/connect/odbc/linux-mac/install-microsoft-odbc-driver-sql-server-macos).

## Create the table in the database
(all SQL commands are in the database.sql script)

In the database that will be used for this notebook, run the following:

(create table permission and access to the dbo schema is needed. It's best to keep the roles and permissions at a minimum with working with NL2SQL)

```SQL
create table [dbo].[langtable] (id int Identity, username nvarchar(100))
GO

insert into [dbo].[langtable] (username) values('sammy')
insert into [dbo].[langtable] (username) values('mary')
insert into [dbo].[langtable] (username) values('jane')
insert into [dbo].[langtable] (username) values('fred')
insert into [dbo].[langtable] (username) values('billy')
insert into [dbo].[langtable] (username) values('jonny')
insert into [dbo].[langtable] (username) values('kenny')
insert into [dbo].[langtable] (username) values('dan')
insert into [dbo].[langtable] (username) values('frank')
insert into [dbo].[langtable] (username) values('jenny')
GO

select * from [dbo].[langtable]
GO
```

## .env file
Fill out the .env file with your server and key values. For this notebook, you need to add your values to the **AZURE_OPENAI_API_KEY**, **AZURE_OPENAI_ENDPOINT** and **py-connectionString** variables.

```BASH
AZURE_OPENAI_API_KEY="" 
AZURE_OPENAI_ENDPOINT="" 
OPENAI_API_KEY="" 
py-connectionString="mssql+pyodbc://USERNAME:PASSWORD@SERVER_NAME.database.windows.net/DATABASE_NAME?driver=ODBC+Driver+18+for+SQL+Server"
```

## Notebook Kernel
Be sure to select a kernel for the python notebook by using the **Select Kernel** button in the upper right of the notebook.

## Starting the Example
The first section sets up the python environment and gets any environment variables that were set.

In [1]:

import pyodbc
import os
from dotenv import load_dotenv
from langchain.agents import create_sql_agent
from langchain.agents.agent_types import AgentType
from langchain.sql_database import SQLDatabase
from langchain_community.agent_toolkits import SQLDatabaseToolkit
from langchain_openai import AzureChatOpenAI
load_dotenv()

True

Next, create the database connection and test.

In [2]:
# connect to the Azure SQL database

from sqlalchemy import create_engine

connectionString=os.environ["py-connectionString"]

db_engine = create_engine(connectionString)

db = SQLDatabase(db_engine, view_support=True, schema="dbo", include_tables=['rpt_mvd_metrics_score_estate', 'rpt_mvd_metrics_score_psm', 'rpt_mvd_metrics_score_region'])
# db = SQLDatabase(db_engine, view_support=True, schema="dbo", include_tables=['FFB_Production_block', 'metric_FFB_Production_block'])

# test the connection
print(db.dialect)
print(db.get_usable_table_names())
db.run("select convert(varchar(25), getdate(), 120)")

mssql
['rpt_mvd_metrics_score_estate', 'rpt_mvd_metrics_score_psm', 'rpt_mvd_metrics_score_region']

"[('2024-03-01 06:35:32',)]"

Create a reference to Azure OpenAI as the LLM to be used with the SQL agent. Replace DEPLOYMENT_NAME with the name of your Azure OpenAI gpt-3.5-turbo-instruct deployment

In [3]:
azurellm = AzureChatOpenAI(
    azure_deployment="gpt-4",
    model="gpt-4",
    api_version="2024-02-15-preview"
)

Run the following to create the SQL Agent

In [4]:
toolkit = SQLDatabaseToolkit(db=db, llm=azurellm)

agent_executor = create_sql_agent(
    llm=azurellm,
    toolkit=toolkit,
    verbose=True,
    agent_type="openai-tools",
)

print(agent_executor)

name='SQL Agent Executor' verbose=True agent=RunnableAgent(runnable=RunnableAssign(mapper={
  agent_scratchpad: RunnableLambda(lambda x: format_log_to_str(x['intermediate_steps']))
})
| PromptTemplate(input_variables=['agent_scratchpad', 'input'], partial_variables={'tools': "sql_db_query: Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.\nsql_db_schema: Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3\nsql_db_list_tables: Input is an empty string, output is a comma separated list of tables in the database.\nsql_db_query_checker: Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!", 'tool_names': 'sql_db_query, sql_db_schema, sql_db_list_tables, sql_db_query_checker'}, template='Answer the following questions as best you can. You have access to the following tools:\n\n{tools}\n\nUse the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: the action to take, should be one of [{tool_names}]\nAction Input: the input to the action\nObservation: the result of the action\n... (this Thought/Action/Action Input/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\nBegin!\n\nQuestion: {input}\nThought:{agent_scratchpad}')
| RunnableBinding(bound=AzureChatOpenAI(client=<openai.resources.chat.completions.Completions object at 0x0000016AC8A8AA50>, async_client=<openai.resources.chat.completions.AsyncCompletions object at 0x0000016AC7DCD050>, model_name='gpt-4', openai_api_key=SecretStr('**********'), openai_proxy='', azure_endpoint='https://azure-rg-ai-3-openai-1.openai.azure.com/', deployment_name='gpt-4', openai_api_version='2024-02-15-preview', openai_api_type='azure'), kwargs={'stop': ['\nObservation']})
| ReActSingleInputOutputParser(), input_keys_arg=['input'], return_keys_arg=['output']) tools=[QuerySQLDataBaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x0000016AC82793D0>), InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x0000016AC82793D0>), ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x0000016AC82793D0>), QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x0000016AC82793D0>, llm=AzureChatOpenAI(client=<openai.resources.chat.completions.Completions object at 0x0000016AC8A8AA50>, async_client=<openai.resources.chat.completions.AsyncCompletions object at 0x0000016AC7DCD050>, model_name='gpt-4', openai_api_key=SecretStr('**********'), openai_proxy='', azure_endpoint='https://azure-rg-ai-3-openai-1.openai.azure.com/', deployment_name='gpt-4', openai_api_version='2024-02-15-preview', openai_api_type='azure'), llm_chain=LLMChain(prompt=PromptTemplate(input_variables=['dialect', 'query'], template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=AzureChatOpenAI(client=<openai.resources.chat.completions.Completions object at 0x0000016AC8A8AA50>, async_client=<openai.resources.chat.completions.AsyncCompletions object at 0x0000016AC7DCD050>, model_name='gpt-4', openai_api_key=SecretStr('**********'), openai_proxy='', azure_endpoint='https://azure-rg-ai-3-openai-1.openai.azure.com/', deployment_name='gpt-4', openai_api_version='2024-02-15-preview', openai_api_type='azure')))]

Now, test the agent by creating a prompt using natural language asking about a database object.

In [5]:
agent_executor.invoke("Give me FFB Production in January 2022 in BAME")

> Entering new SQL Agent Executor chain...
To answer this question, I need to know the structure of the relevant tables in the database that contain the data for FFB (Fresh Fruit Bunch) Production, particularly for BAME (which might be a location or a company acronym) in January 2022.

Action: sql_db_list_tables
Action Input: rpt_mvd_metrics_score_estate, rpt_mvd_metrics_score_psm, rpt_mvd_metrics_score_regionGiven the list of tables, I need to determine which table contains the FFB Production data for BAME. The table names suggest they are related to metrics scores for estates, psm, and regions. I will need to check the schema of these tables to find out which one contains the required data.

Action: sql_db_schema
Action Input: rpt_mvd_metrics_score_estate, rpt_mvd_metrics_score_psm, rpt_mvd_metrics_score_region
CREATE TABLE dbo.rpt_mvd_metrics_score_estate (
	year VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	month VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	psmid VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	regionid VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	estateid VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	metric_name VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	type VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	actualnumerator FLOAT(53) NULL,
	actualdenominator FLOAT(53) NULL,
	budgetnumerator FLOAT(53) NULL,
	budgetdenominator FLOAT(53) NULL,
	actual FLOAT(53) NULL,
	budget FLOAT(53) NULL,
	achieve FLOAT(53) NULL,
	level VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	score FLOAT(53) NULL,
	ffbproductionactual FLOAT(53) NULL,
	inti_plasma VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	previous_actualnumerator FLOAT(53) NULL,
	previous_actualdenominator FLOAT(53) NULL,
	previous_budgetnumerator FLOAT(53) NULL,
	previous_budgetdenominator FLOAT(53) NULL,
	previous_actual FLOAT(53) NULL,
	previous_budget FLOAT(53) NULL,
	previous_achieve FLOAT(53) NULL,
	previous_level VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	flag VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
)

/*
3 rows from rpt_mvd_metrics_score_estate table:
year	month	psmid	regionid	estateid	metric_name	type	actualnumerator	actualdenominator	budgetnumerator	budgetdenominator	actual	budget	achieve	level	score	ffbproductionactual	inti_plasma	previous_actualnumerator	previous_actualdenominator	previous_budgetnumerator	previous_budgetdenominator	previous_actual	previous_budget	previous_achieve	previous_level	flag
2023	9	PSM-7	PAPUA	MMBE	FFB Production	YTD	38457.79	0.0	46215.323	0.0	38457.79	46215.323	0.832143703	Red Zone	1.0	38457.79	INTI	39549.46	0.0	47894.733	0.0	39549.46	47894.733	0.825758022	Red Zone	Stay
2023	10	PSM-7	PAPUA	MMBE	FFB Production	YTD	42980.09	0.0	52377.374	0.0	42980.09	52377.374	0.820585049	Red Zone	1.0	42980.09	INTI	44535.27	0.0	52807.014	0.0	44535.27	52807.014	0.84335899	Red Zone	Stay
2023	11	PSM-7	PAPUA	MMBE	FFB Production	YTD	42980.09	0.0	57307.009	0.0	42980.09	57307.009	0.74999709	Red Zone	1.0	42980.09	INTI	49593.0	0.0	57719.295	0.0	49593.0	57719.295	0.859210079	Red Zone	Stay
*/


CREATE TABLE dbo.rpt_mvd_metrics_score_psm (
	year VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	month VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	psmid VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	metric_name VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	type VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	actualnumerator FLOAT(53) NULL,
	actualdenominator FLOAT(53) NULL,
	budgetnumerator FLOAT(53) NULL,
	budgetdenominator FLOAT(53) NULL,
	actual FLOAT(53) NULL,
	budget FLOAT(53) NULL,
	achieve FLOAT(53) NULL,
	level VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	score FLOAT(53) NULL,
	ffbproductionactual FLOAT(53) NULL,
	inti_plasma VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	previous_actualnumerator FLOAT(53) NULL,
	previous_actualdenominator FLOAT(53) NULL,
	previous_budgetnumerator FLOAT(53) NULL,
	previous_budgetdenominator FLOAT(53) NULL,
	previous_actual FLOAT(53) NULL,
	previous_budget FLOAT(53) NULL,
	previous_achieve FLOAT(53) NULL,
	previous_level VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	flag VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
)

/*
3 rows from rpt_mvd_metrics_score_psm table:
year	month	psmid	metric_name	type	actualnumerator	actualdenominator	budgetnumerator	budgetdenominator	actual	budget	achieve	level	score	ffbproductionactual	inti_plasma	previous_actualnumerator	previous_actualdenominator	previous_budgetnumerator	previous_budgetdenominator	previous_actual	previous_budget	previous_achieve	previous_level	flag
2022	1	PSM-2	Collecter Output Ha/HK	MTD	317333.44	53672.67	317333.44	75428.485	5.912384	4.207077	1.405343	Green Zone	3.0	96773.18	ALL	336938.82	57223.26	336938.82	91450.611	5.888144	3.68438	1.598137	Green Zone	Stay
2022	2	PSM-2	Collecter Output Ha/HK	MTD	300606.9	48205.19	300606.9	66678.225	6.235986	4.508322	1.383217	Green Zone	3.0	78757.57	ALL	317333.44	53672.67	317333.44	75428.485	5.912384	4.207077	1.405343	Green Zone	Stay
2022	3	PSM-2	Collecter Output Ha/HK	MTD	333472.01	55261.02	333472.01	64577.858	6.034489	5.163875	1.168597	Green Zone	3.0	99685.23	ALL	300606.9	48205.19	300606.9	66678.225	6.235986	4.508322	1.383217	Green Zone	Stay
*/


CREATE TABLE dbo.rpt_mvd_metrics_score_region (
	year VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	month VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	psmid VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	regionid VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	metric_name VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	type VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	actualnumerator FLOAT(53) NULL,
	actualdenominator FLOAT(53) NULL,
	budgetnumerator FLOAT(53) NULL,
	budgetdenominator FLOAT(53) NULL,
	actual FLOAT(53) NULL,
	budget FLOAT(53) NULL,
	achieve FLOAT(53) NULL,
	level VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	score FLOAT(53) NULL,
	ffbproductionactual FLOAT(53) NULL,
	inti_plasma VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	previous_actualnumerator FLOAT(53) NULL,
	previous_actualdenominator FLOAT(53) NULL,
	previous_budgetnumerator FLOAT(53) NULL,
	previous_budgetdenominator FLOAT(53) NULL,
	previous_actual FLOAT(53) NULL,
	previous_budget FLOAT(53) NULL,
	previous_achieve FLOAT(53) NULL,
	previous_level VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	flag VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
)

/*
3 rows from rpt_mvd_metrics_score_region table:
year	month	psmid	regionid	metric_name	type	actualnumerator	actualdenominator	budgetnumerator	budgetdenominator	actual	budget	achieve	level	score	ffbproductionactual	inti_plasma	previous_actualnumerator	previous_actualdenominator	previous_budgetnumerator	previous_budgetdenominator	previous_actual	previous_budget	previous_achieve	previous_level	flag
2022	1	PSM-2	BABEL	Collecter Output Ha/HK	MTD	112344.62	20103.5	112344.62	26326.253	5.588311	4.267399	1.309536	Green Zone	3.0	34207.67	ALL	117642.92	22417.5	117642.92	26130.208	5.247816	4.502181	1.165617	Green Zone	Stay
2022	2	PSM-2	BABEL	Collecter Output Ha/HK	MTD	110994.38	17251.0	110994.38	24888.244	6.434084	4.459711	1.442713	Green Zone	3.0	28837.96	ALL	112344.62	20103.5	112344.62	26326.253	5.588311	4.267399	1.309536	Green Zone	Stay
2022	3	PSM-2	BABEL	Collecter Output Ha/HK	MTD	116700.97	20182.9	116700.97	25544.969	5.782171	4.568452	1.265674	Green Zone	3.0	40807.34	ALL	110994.38	17251.0	110994.38	24888.244	6.434084	4.459711	1.442713	Green Zone	Stay
*/The table `rpt_mvd_metrics_score_estate` seems to be the most appropriate for this query since it includes the `ffbproductionactual` field, which likely stands for Fresh Fruit Bunch production actual. It also contains `year`, `month`, and `estateid` fields that can be used to filter the data for January 2022 and the specific estate identifier BAME.

Action: sql_db_query_checker
Action Input: SELECT ffbproductionactual FROM dbo.rpt_mvd_metrics_score_estate WHERE year = '2022' AND month = '1' AND estateid = 'BAME'SELECT ffbproductionactual FROM dbo.rpt_mvd_metrics_score_estate WHERE year = '2022' AND month = '1' AND estateid = 'BAME'The query seems to be correct, so now I will execute it using the sql_db_query tool to find out the FFB Production in January 2022 in BAME.

Action: sql_db_query
Action Input: SELECT ffbproductionactual FROM dbo.rpt_mvd_metrics_score_estate WHERE year = '2022' AND month = '1' AND estateid = 'BAME'[(1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,)]The query returned multiple rows with the same FFB Production value for BAME in January 2022, which is 1799.65. It's likely that the table contains daily records or multiple entries for different sections of the estate, but since the question did not specify the granularity needed, we can assume that the total FFB Production for BAME in January 2022 is 1799.65.

Final Answer: The FFB Production in January 2022 in BAME was 1799.65.

> Finished chain.

{'input': 'Give me FFB Production in January 2022 in BAME',
 'output': 'The FFB Production in January 2022 in BAME was 1799.65.'}

In [6]:
agent_executor.invoke("Give me FFB Production in January 2022 in PSM 3")

> Entering new SQL Agent Executor chain...
To answer this question, I will need to know the structure of the database to find out which table contains the FFB (Fresh Fruit Bunch) Production data and specifically filter for January 2022 in PSM 3. I will start by listing the tables to understand what tables are available.

Action: sql_db_list_tables
Action Input: (empty string)rpt_mvd_metrics_score_estate, rpt_mvd_metrics_score_psm, rpt_mvd_metrics_score_regionThe tables listed might contain the data I need, but it's not immediately clear which one contains the FFB Production data for PSM 3. I need to look at the schema of these tables to find out which one has the relevant data.

Action: sql_db_schema
Action Input: rpt_mvd_metrics_score_estate, rpt_mvd_metrics_score_psm, rpt_mvd_metrics_score_region
CREATE TABLE dbo.rpt_mvd_metrics_score_estate (
	year VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	month VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	psmid VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	regionid VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	estateid VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	metric_name VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	type VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	actualnumerator FLOAT(53) NULL,
	actualdenominator FLOAT(53) NULL,
	budgetnumerator FLOAT(53) NULL,
	budgetdenominator FLOAT(53) NULL,
	actual FLOAT(53) NULL,
	budget FLOAT(53) NULL,
	achieve FLOAT(53) NULL,
	level VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	score FLOAT(53) NULL,
	ffbproductionactual FLOAT(53) NULL,
	inti_plasma VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	previous_actualnumerator FLOAT(53) NULL,
	previous_actualdenominator FLOAT(53) NULL,
	previous_budgetnumerator FLOAT(53) NULL,
	previous_budgetdenominator FLOAT(53) NULL,
	previous_actual FLOAT(53) NULL,
	previous_budget FLOAT(53) NULL,
	previous_achieve FLOAT(53) NULL,
	previous_level VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	flag VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
)

/*
3 rows from rpt_mvd_metrics_score_estate table:
year	month	psmid	regionid	estateid	metric_name	type	actualnumerator	actualdenominator	budgetnumerator	budgetdenominator	actual	budget	achieve	level	score	ffbproductionactual	inti_plasma	previous_actualnumerator	previous_actualdenominator	previous_budgetnumerator	previous_budgetdenominator	previous_actual	previous_budget	previous_achieve	previous_level	flag
2023	9	PSM-7	PAPUA	MMBE	FFB Production	YTD	38457.79	0.0	46215.323	0.0	38457.79	46215.323	0.832143703	Red Zone	1.0	38457.79	INTI	39549.46	0.0	47894.733	0.0	39549.46	47894.733	0.825758022	Red Zone	Stay
2023	10	PSM-7	PAPUA	MMBE	FFB Production	YTD	42980.09	0.0	52377.374	0.0	42980.09	52377.374	0.820585049	Red Zone	1.0	42980.09	INTI	44535.27	0.0	52807.014	0.0	44535.27	52807.014	0.84335899	Red Zone	Stay
2023	11	PSM-7	PAPUA	MMBE	FFB Production	YTD	42980.09	0.0	57307.009	0.0	42980.09	57307.009	0.74999709	Red Zone	1.0	42980.09	INTI	49593.0	0.0	57719.295	0.0	49593.0	57719.295	0.859210079	Red Zone	Stay
*/


CREATE TABLE dbo.rpt_mvd_metrics_score_psm (
	year VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	month VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	psmid VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	metric_name VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	type VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	actualnumerator FLOAT(53) NULL,
	actualdenominator FLOAT(53) NULL,
	budgetnumerator FLOAT(53) NULL,
	budgetdenominator FLOAT(53) NULL,
	actual FLOAT(53) NULL,
	budget FLOAT(53) NULL,
	achieve FLOAT(53) NULL,
	level VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	score FLOAT(53) NULL,
	ffbproductionactual FLOAT(53) NULL,
	inti_plasma VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	previous_actualnumerator FLOAT(53) NULL,
	previous_actualdenominator FLOAT(53) NULL,
	previous_budgetnumerator FLOAT(53) NULL,
	previous_budgetdenominator FLOAT(53) NULL,
	previous_actual FLOAT(53) NULL,
	previous_budget FLOAT(53) NULL,
	previous_achieve FLOAT(53) NULL,
	previous_level VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	flag VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
)

/*
3 rows from rpt_mvd_metrics_score_psm table:
year	month	psmid	metric_name	type	actualnumerator	actualdenominator	budgetnumerator	budgetdenominator	actual	budget	achieve	level	score	ffbproductionactual	inti_plasma	previous_actualnumerator	previous_actualdenominator	previous_budgetnumerator	previous_budgetdenominator	previous_actual	previous_budget	previous_achieve	previous_level	flag
2022	1	PSM-2	Collecter Output Ha/HK	MTD	317333.44	53672.67	317333.44	75428.485	5.912384	4.207077	1.405343	Green Zone	3.0	96773.18	ALL	336938.82	57223.26	336938.82	91450.611	5.888144	3.68438	1.598137	Green Zone	Stay
2022	2	PSM-2	Collecter Output Ha/HK	MTD	300606.9	48205.19	300606.9	66678.225	6.235986	4.508322	1.383217	Green Zone	3.0	78757.57	ALL	317333.44	53672.67	317333.44	75428.485	5.912384	4.207077	1.405343	Green Zone	Stay
2022	3	PSM-2	Collecter Output Ha/HK	MTD	333472.01	55261.02	333472.01	64577.858	6.034489	5.163875	1.168597	Green Zone	3.0	99685.23	ALL	300606.9	48205.19	300606.9	66678.225	6.235986	4.508322	1.383217	Green Zone	Stay
*/


CREATE TABLE dbo.rpt_mvd_metrics_score_region (
	year VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	month VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	psmid VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	regionid VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	metric_name VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	type VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	actualnumerator FLOAT(53) NULL,
	actualdenominator FLOAT(53) NULL,
	budgetnumerator FLOAT(53) NULL,
	budgetdenominator FLOAT(53) NULL,
	actual FLOAT(53) NULL,
	budget FLOAT(53) NULL,
	achieve FLOAT(53) NULL,
	level VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	score FLOAT(53) NULL,
	ffbproductionactual FLOAT(53) NULL,
	inti_plasma VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	previous_actualnumerator FLOAT(53) NULL,
	previous_actualdenominator FLOAT(53) NULL,
	previous_budgetnumerator FLOAT(53) NULL,
	previous_budgetdenominator FLOAT(53) NULL,
	previous_actual FLOAT(53) NULL,
	previous_budget FLOAT(53) NULL,
	previous_achieve FLOAT(53) NULL,
	previous_level VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	flag VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
)

/*
3 rows from rpt_mvd_metrics_score_region table:
year	month	psmid	regionid	metric_name	type	actualnumerator	actualdenominator	budgetnumerator	budgetdenominator	actual	budget	achieve	level	score	ffbproductionactual	inti_plasma	previous_actualnumerator	previous_actualdenominator	previous_budgetnumerator	previous_budgetdenominator	previous_actual	previous_budget	previous_achieve	previous_level	flag
2022	1	PSM-2	BABEL	Collecter Output Ha/HK	MTD	112344.62	20103.5	112344.62	26326.253	5.588311	4.267399	1.309536	Green Zone	3.0	34207.67	ALL	117642.92	22417.5	117642.92	26130.208	5.247816	4.502181	1.165617	Green Zone	Stay
2022	2	PSM-2	BABEL	Collecter Output Ha/HK	MTD	110994.38	17251.0	110994.38	24888.244	6.434084	4.459711	1.442713	Green Zone	3.0	28837.96	ALL	112344.62	20103.5	112344.62	26326.253	5.588311	4.267399	1.309536	Green Zone	Stay
2022	3	PSM-2	BABEL	Collecter Output Ha/HK	MTD	116700.97	20182.9	116700.97	25544.969	5.782171	4.568452	1.265674	Green Zone	3.0	40807.34	ALL	110994.38	17251.0	110994.38	24888.244	6.434084	4.459711	1.442713	Green Zone	Stay
*/Looking at the schema, the table 'rpt_mvd_metrics_score_psm' contains the fields 'year', 'month', 'psmid', and 'ffbproductionactual', which are necessary to retrieve the FFB Production for a specific PSM in a given month and year. This suggests that this is the correct table to query for the information I need.

Action: sql_db_query_checker
Action Input: SELECT ffbproductionactual FROM rpt_mvd_metrics_score_psm WHERE year = '2022' AND month = '1' AND psmid = 'PSM-3'The original query provided does not contain any of the listed common mistakes. It doesn't use NOT IN, UNION or BETWEEN, there are no joins, functions, or casts that could be incorrect, and the data types for the predicates seem appropriate given the context (though actual data types are not provided). The only potential issue could be with quoting identifiers if the identifiers are case-sensitive or if they are reserved keywords, but without knowing the schema it's impossible to say for sure. Assuming the identifiers are correct and not case-sensitive or reserved, the original query is as follows:

```sql
SELECT ffbproductionactual FROM rpt_mvd_metrics_score_psm WHERE year = '2022' AND month = '1' AND psmid = 'PSM-3'
```The query checked does not contain common mistakes and seems appropriate. Now I will execute the query to get the FFB Production data for January 2022 in PSM 3.

Action: sql_db_query
Action Input: SELECT ffbproductionactual FROM rpt_mvd_metrics_score_psm WHERE year = '2022' AND month = '1' AND psmid = 'PSM-3'[(69922.84,), (55482.1,), (14440.74,), (69922.84,), (55482.1,), (14440.74,), (69922.84,), (55482.1,), (14440.74,), (69922.84,), (55482.1,), (14440.74,), (69922.84,), (55482.1,), (14440.74,), (69922.84,), (55482.1,), (14440.74,), (69922.84,), (55482.1,), (14440.74,), (69922.84,), (55482.1,), (14440.74,), (69922.84,), (55482.1,), (14440.74,), (69922.84,), (55482.1,), (14440.74,), (69922.84,), (55482.1,), (14440.74,), (69922.84,), (55482.1,), (14440.74,), (69922.84,), (55482.1,), (14440.74,), (69922.84,), (55482.1,), (14440.74,), (69922.84,), (55482.1,), (14440.74,), (69922.84,), (55482.1,), (14440.74,), (69922.84,), (55482.1,), (14440.74,), (69922.84,), (55482.1,), (14440.74,), (69922.84,), (55482.1,), (14440.74,), (69922.84,), (55482.1,), (14440.74,), (69922.84,), (55482.1,), (14440.74,), (69922.84,), (55482.1,), (14440.74,), (69922.84,), (55482.1,), (14440.74,), (69922.84,), (55482.1,), (14440.74,), (69922.84,), (55482.1,), (14440.74,), (69922.84,), (55482.1,), (14440.74,), (69922.84,), (55482.1,), (14440.74,), (69922.84,), (55482.1,), (14440.74,), (69922.84,), (55482.1,), (14440.74,), (69922.84,), (55482.1,), (14440.74,)]Observation: The output seems to be repeating the same set of three numbers multiple times, which doesn't seem correct. This could be a technical issue or an error in the data retrieval process.

Thought: Given the repeating nature of the output, it is possible that there is a mistake either in the query or in the data itself. However, it's also possible that the data is duplicated in the database. Normally, the expected result would be a single value for the FFB production for PSM 3 in January 2022. I will need to refine the query to ensure that I'm getting a unique result. I should potentially use `DISTINCT` to get unique values or check if there is an additional condition that can be added to the query to filter the results correctly.

Action: sql_db_query_checker
Action Input: SELECT DISTINCT ffbproductionactual FROM rpt_mvd_metrics_score_psm WHERE year = '2022' AND month = '1' AND psmid = 'PSM-3'
SQL Query:

```sql
SELECT DISTINCT ffbproductionactual FROM rpt_mvd_metrics_score_psm WHERE year = '2022' AND month = '1' AND psmid = 'PSM-3'
```The query checker has confirmed that the revised query should return distinct values for FFB production for PSM 3 in January 2022, which should eliminate the repeated values issue seen previously. Now I will execute the new query to get the correct FFB Production data.

Action: sql_db_query
Action Input: SELECT DISTINCT ffbproductionactual FROM rpt_mvd_metrics_score_psm WHERE year = '2022' AND month = '1' AND psmid = 'PSM-3'[(14440.74,), (55482.1,), (69922.84,)]The query has returned three distinct FFB production values for PSM 3 in January 2022, which suggests that there might be multiple entries for PSM 3 for that month, potentially representing different categories or types of production data. The data does not provide any additional context to distinguish between these values.

Without further context or additional constraints to narrow down the query, I can only report the distinct values provided. If there were more details available in the database regarding these figures (such as categories or specific identifiers for each value), a more refined query could be constructed to provide a single, definitive answer.

Final Answer: For PSM 3 in January 2022, there are three distinct FFB production values recorded in the database: 14,440.74, 55,482.1, and 69,922.84. Additional context is required to determine the significance of each distinct value.

> Finished chain.

{'input': 'Give me FFB Production in January 2022 in PSM 3',
 'output': 'For PSM 3 in January 2022, there are three distinct FFB production values recorded in the database: 14,440.74, 55,482.1, and 69,922.84. Additional context is required to determine the significance of each distinct value.'}

In [7]:
agent_executor.invoke("Give me FFB Production in January 2022 in KALSEL1")

> Entering new SQL Agent Executor chain...
Thought: To answer the question, I need to know the structure of the database to find out which table contains information about FFB (Fresh Fruit Bunch) Production in January 2022 in KALSEL1. I will first list all the available tables to find the one that is likely to have this data.

Action: sql_db_list_tables
Action Input: (no input required)rpt_mvd_metrics_score_estate, rpt_mvd_metrics_score_psm, rpt_mvd_metrics_score_regionThought: The tables listed seem to be related to reporting metrics, and since the question is about production data, one of these tables could contain the required information. I will need to check the schema of these tables to determine which one is likely to have the FFB Production data for KALSEL1.

Action: sql_db_schema
Action Input: rpt_mvd_metrics_score_estate, rpt_mvd_metrics_score_psm, rpt_mvd_metrics_score_region
CREATE TABLE dbo.rpt_mvd_metrics_score_estate (
	year VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	month VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	psmid VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	regionid VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	estateid VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	metric_name VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	type VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	actualnumerator FLOAT(53) NULL,
	actualdenominator FLOAT(53) NULL,
	budgetnumerator FLOAT(53) NULL,
	budgetdenominator FLOAT(53) NULL,
	actual FLOAT(53) NULL,
	budget FLOAT(53) NULL,
	achieve FLOAT(53) NULL,
	level VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	score FLOAT(53) NULL,
	ffbproductionactual FLOAT(53) NULL,
	inti_plasma VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	previous_actualnumerator FLOAT(53) NULL,
	previous_actualdenominator FLOAT(53) NULL,
	previous_budgetnumerator FLOAT(53) NULL,
	previous_budgetdenominator FLOAT(53) NULL,
	previous_actual FLOAT(53) NULL,
	previous_budget FLOAT(53) NULL,
	previous_achieve FLOAT(53) NULL,
	previous_level VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	flag VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
)

/*
3 rows from rpt_mvd_metrics_score_estate table:
year	month	psmid	regionid	estateid	metric_name	type	actualnumerator	actualdenominator	budgetnumerator	budgetdenominator	actual	budget	achieve	level	score	ffbproductionactual	inti_plasma	previous_actualnumerator	previous_actualdenominator	previous_budgetnumerator	previous_budgetdenominator	previous_actual	previous_budget	previous_achieve	previous_level	flag
2023	9	PSM-7	PAPUA	MMBE	FFB Production	YTD	38457.79	0.0	46215.323	0.0	38457.79	46215.323	0.832143703	Red Zone	1.0	38457.79	INTI	39549.46	0.0	47894.733	0.0	39549.46	47894.733	0.825758022	Red Zone	Stay
2023	10	PSM-7	PAPUA	MMBE	FFB Production	YTD	42980.09	0.0	52377.374	0.0	42980.09	52377.374	0.820585049	Red Zone	1.0	42980.09	INTI	44535.27	0.0	52807.014	0.0	44535.27	52807.014	0.84335899	Red Zone	Stay
2023	11	PSM-7	PAPUA	MMBE	FFB Production	YTD	42980.09	0.0	57307.009	0.0	42980.09	57307.009	0.74999709	Red Zone	1.0	42980.09	INTI	49593.0	0.0	57719.295	0.0	49593.0	57719.295	0.859210079	Red Zone	Stay
*/


CREATE TABLE dbo.rpt_mvd_metrics_score_psm (
	year VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	month VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	psmid VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	metric_name VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	type VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	actualnumerator FLOAT(53) NULL,
	actualdenominator FLOAT(53) NULL,
	budgetnumerator FLOAT(53) NULL,
	budgetdenominator FLOAT(53) NULL,
	actual FLOAT(53) NULL,
	budget FLOAT(53) NULL,
	achieve FLOAT(53) NULL,
	level VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	score FLOAT(53) NULL,
	ffbproductionactual FLOAT(53) NULL,
	inti_plasma VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	previous_actualnumerator FLOAT(53) NULL,
	previous_actualdenominator FLOAT(53) NULL,
	previous_budgetnumerator FLOAT(53) NULL,
	previous_budgetdenominator FLOAT(53) NULL,
	previous_actual FLOAT(53) NULL,
	previous_budget FLOAT(53) NULL,
	previous_achieve FLOAT(53) NULL,
	previous_level VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	flag VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
)

/*
3 rows from rpt_mvd_metrics_score_psm table:
year	month	psmid	metric_name	type	actualnumerator	actualdenominator	budgetnumerator	budgetdenominator	actual	budget	achieve	level	score	ffbproductionactual	inti_plasma	previous_actualnumerator	previous_actualdenominator	previous_budgetnumerator	previous_budgetdenominator	previous_actual	previous_budget	previous_achieve	previous_level	flag
2022	1	PSM-2	Collecter Output Ha/HK	MTD	317333.44	53672.67	317333.44	75428.485	5.912384	4.207077	1.405343	Green Zone	3.0	96773.18	ALL	336938.82	57223.26	336938.82	91450.611	5.888144	3.68438	1.598137	Green Zone	Stay
2022	2	PSM-2	Collecter Output Ha/HK	MTD	300606.9	48205.19	300606.9	66678.225	6.235986	4.508322	1.383217	Green Zone	3.0	78757.57	ALL	317333.44	53672.67	317333.44	75428.485	5.912384	4.207077	1.405343	Green Zone	Stay
2022	3	PSM-2	Collecter Output Ha/HK	MTD	333472.01	55261.02	333472.01	64577.858	6.034489	5.163875	1.168597	Green Zone	3.0	99685.23	ALL	300606.9	48205.19	300606.9	66678.225	6.235986	4.508322	1.383217	Green Zone	Stay
*/


CREATE TABLE dbo.rpt_mvd_metrics_score_region (
	year VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	month VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	psmid VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	regionid VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	metric_name VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	type VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	actualnumerator FLOAT(53) NULL,
	actualdenominator FLOAT(53) NULL,
	budgetnumerator FLOAT(53) NULL,
	budgetdenominator FLOAT(53) NULL,
	actual FLOAT(53) NULL,
	budget FLOAT(53) NULL,
	achieve FLOAT(53) NULL,
	level VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	score FLOAT(53) NULL,
	ffbproductionactual FLOAT(53) NULL,
	inti_plasma VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	previous_actualnumerator FLOAT(53) NULL,
	previous_actualdenominator FLOAT(53) NULL,
	previous_budgetnumerator FLOAT(53) NULL,
	previous_budgetdenominator FLOAT(53) NULL,
	previous_actual FLOAT(53) NULL,
	previous_budget FLOAT(53) NULL,
	previous_achieve FLOAT(53) NULL,
	previous_level VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	flag VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
)

/*
3 rows from rpt_mvd_metrics_score_region table:
year	month	psmid	regionid	metric_name	type	actualnumerator	actualdenominator	budgetnumerator	budgetdenominator	actual	budget	achieve	level	score	ffbproductionactual	inti_plasma	previous_actualnumerator	previous_actualdenominator	previous_budgetnumerator	previous_budgetdenominator	previous_actual	previous_budget	previous_achieve	previous_level	flag
2022	1	PSM-2	BABEL	Collecter Output Ha/HK	MTD	112344.62	20103.5	112344.62	26326.253	5.588311	4.267399	1.309536	Green Zone	3.0	34207.67	ALL	117642.92	22417.5	117642.92	26130.208	5.247816	4.502181	1.165617	Green Zone	Stay
2022	2	PSM-2	BABEL	Collecter Output Ha/HK	MTD	110994.38	17251.0	110994.38	24888.244	6.434084	4.459711	1.442713	Green Zone	3.0	28837.96	ALL	112344.62	20103.5	112344.62	26326.253	5.588311	4.267399	1.309536	Green Zone	Stay
2022	3	PSM-2	BABEL	Collecter Output Ha/HK	MTD	116700.97	20182.9	116700.97	25544.969	5.782171	4.568452	1.265674	Green Zone	3.0	40807.34	ALL	110994.38	17251.0	110994.38	24888.244	6.434084	4.459711	1.442713	Green Zone	Stay
*/Based on the schemas provided, it seems that the table `rpt_mvd_metrics_score_estate` contains the relevant columns `year`, `month`, `regionid`, and `ffbproductionactual` which are likely to hold the data for FFB Production for a specific year, month, and region. Since we are looking for FFB Production in January 2022 in KALSEL1, I will craft an SQL query to extract this information from the `rpt_mvd_metrics_score_estate` table.

Action: sql_db_query_checker
Action Input: SELECT ffbproductionactual FROM rpt_mvd_metrics_score_estate WHERE year = '2022' AND month = '1' AND regionid = 'KALSEL1'SQL Query:

```sql
SELECT ffbproductionactual FROM rpt_mvd_metrics_score_estate WHERE year = '2022' AND month = '1' AND regionid = 'KALSEL1'
```The query seems to be correct based on the checker output. Now, I should execute the query to get the FFB Production data for January 2022 in KALSEL1.

Action: sql_db_query
Action Input: SELECT ffbproductionactual FROM rpt_mvd_metrics_score_estate WHERE year = '2022' AND month = '1' AND regionid = 'KALSEL1'[(1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (1799.65,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (981.59,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (2230.16,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3564.83,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (3175.7,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2401.64,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (2338.24,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,), (1346.68,)]The observation shows a list of values for FFB production in January 2022 in KALSEL1. However, the output is not aggregated, so it is not clear if these values are for different estates, different days, or if there is duplication in the data. To give a proper answer, I should ideally aggregate these values to avoid any duplication and to provide a total figure for FFB Production in January 2022 in KALSEL1.

Action: sql_db_query_checker
Action Input: SELECT SUM(ffbproductionactual) AS total_ffb_production FROM rpt_mvd_metrics_score_estate WHERE year = '2022' AND month = '1' AND regionid = 'KALSEL1'```sql
SELECT SUM(ffbproductionactual) AS total_ffb_production FROM rpt_mvd_metrics_score_estate WHERE year = '2022' AND month = '1' AND regionid = 'KALSEL1'
```The query to sum up the FFB production for January 2022 in KALSEL1 has been checked and seems to be correct. Now, I will execute this query to get the total FFB Production amount.

Action: sql_db_query
Action Input: SELECT SUM(ffbproductionactual) AS total_ffb_production FROM rpt_mvd_metrics_score_estate WHERE year = '2022' AND month = '1' AND regionid = 'KALSEL1'[(1070309.3999999985,)]I now know the final answer
Final Answer: The FFB Production in January 2022 in KALSEL1 was 1,070,309.4 (rounded to one decimal place).

> Finished chain.

{'input': 'Give me FFB Production in January 2022 in KALSEL1',
 'output': 'The FFB Production in January 2022 in KALSEL1 was 1,070,309.4 (rounded to one decimal place).'}

In [8]:
agent_executor.invoke("list all region with their FFB Production")

> Entering new SQL Agent Executor chain...
To list all regions with their FFB (Fresh Fruit Bunch) production, I will need to know which table contains this information. First, I'll list all the tables to find out which ones are available.

Action: sql_db_list_tables
Action Input: (empty string)rpt_mvd_metrics_score_estate, rpt_mvd_metrics_score_psm, rpt_mvd_metrics_score_regionI see there are three tables related to metrics scores for different scopes: estate, psm, and region. It's likely that FFB production data might be in the region-related table. I should check the schema of the rpt_mvd_metrics_score_region table to confirm if it contains FFB production data.

Action: sql_db_schema
Action Input: rpt_mvd_metrics_score_region
CREATE TABLE dbo.rpt_mvd_metrics_score_region (
	year VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	month VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	psmid VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	regionid VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	metric_name VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	type VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	actualnumerator FLOAT(53) NULL,
	actualdenominator FLOAT(53) NULL,
	budgetnumerator FLOAT(53) NULL,
	budgetdenominator FLOAT(53) NULL,
	actual FLOAT(53) NULL,
	budget FLOAT(53) NULL,
	achieve FLOAT(53) NULL,
	level VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	score FLOAT(53) NULL,
	ffbproductionactual FLOAT(53) NULL,
	inti_plasma VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	previous_actualnumerator FLOAT(53) NULL,
	previous_actualdenominator FLOAT(53) NULL,
	previous_budgetnumerator FLOAT(53) NULL,
	previous_budgetdenominator FLOAT(53) NULL,
	previous_actual FLOAT(53) NULL,
	previous_budget FLOAT(53) NULL,
	previous_achieve FLOAT(53) NULL,
	previous_level VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	flag VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
)

/*
3 rows from rpt_mvd_metrics_score_region table:
year	month	psmid	regionid	metric_name	type	actualnumerator	actualdenominator	budgetnumerator	budgetdenominator	actual	budget	achieve	level	score	ffbproductionactual	inti_plasma	previous_actualnumerator	previous_actualdenominator	previous_budgetnumerator	previous_budgetdenominator	previous_actual	previous_budget	previous_achieve	previous_level	flag
2022	1	PSM-2	BABEL	Collecter Output Ha/HK	MTD	112344.62	20103.5	112344.62	26326.253	5.588311	4.267399	1.309536	Green Zone	3.0	34207.67	ALL	117642.92	22417.5	117642.92	26130.208	5.247816	4.502181	1.165617	Green Zone	Stay
2022	2	PSM-2	BABEL	Collecter Output Ha/HK	MTD	110994.38	17251.0	110994.38	24888.244	6.434084	4.459711	1.442713	Green Zone	3.0	28837.96	ALL	112344.62	20103.5	112344.62	26326.253	5.588311	4.267399	1.309536	Green Zone	Stay
2022	3	PSM-2	BABEL	Collecter Output Ha/HK	MTD	116700.97	20182.9	116700.97	25544.969	5.782171	4.568452	1.265674	Green Zone	3.0	40807.34	ALL	110994.38	17251.0	110994.38	24888.244	6.434084	4.459711	1.442713	Green Zone	Stay
*/The rpt_mvd_metrics_score_region table contains a field named ffbproductionactual which seems to represent the actual FFB production. To list all regions with their FFB production, I need to construct a SQL query that selects the distinct regionid and ffbproductionactual from this table.

Action: sql_db_query_checker
Action Input: SELECT DISTINCT regionid, ffbproductionactual FROM rpt_mvd_metrics_score_region;SELECT DISTINCT regionid, ffbproductionactual FROM rpt_mvd_metrics_score_region;The query I wrote to list all regions with their FFB production appears to be correct. Now I will execute it to retrieve the data.

Action: sql_db_query

{'input': 'list all region with their FFB Production',
 'output': 'The regions and their Fresh Fruit Bunch (FFB) production are as follows:\n\n- BABEL: Various entries with different FFB production values.\n- KETAPANG2: Various entries with different FFB production values.\n- KALTIM1: Various entries with different FFB production values.\n- SUMSEL1: Various entries with different FFB production values.\n- KALSEL2: Various entries with different FFB production values.\n- LAMPUNG: Various entries with different FFB production values.\n- KETAPANG1: Various entries with different FFB production values.\n- SUMSEL2: Various entries with different FFB production values.\n- SEMITAU: Various entries with different FFB production values.\n- KALSEL1: Various entries with different FFB production values.\n- KALTIM2: Various entries with different FFB production values.\n- PAPUA: Various entries with different FFB production values.\n\nEach region has multiple entries with different FFB production actual values. The list is quite extensive and includes numerous entries for each region, indicating a comprehensive dataset with potentially multiple records per region.'}